*.iml
.gradle
/local.properties
/credentials.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/release
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/cpp/
/app/src/main/java/com/sahidev/maknyuss/Secrets.kt
